<div class="container">
  <div class="row">
    {{#each movies}}
      <div class="card m-2 p-0">
        <p class="card-header">{{this.attributes.title}}</p>
        <a href="/movies/{{this.id}}" name="{{{this.attributes.title}}}"><img
            class="card-img-bottom"
            src="{{{this.attributes.image.url}}}"
            alt="{{{this.attributes.title}}}"
          /></a>
      </div>
    {{/each}}
  </div>
</div>